.display {
    width: 300px;
    height: 30px;
    padding: 0px 8px;
    margin-bottom: 24px;
    background-color: rgb(240, 240, 240); 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-container {
    margin: 0px;
    padding: 0px;
    width: 300px;
    display: flex;
}

.numbers, .operators {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.numbers {
    justify-content: flex-start;
}

.operators {
    justify-content: flex-end;
}

.button {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}