.display {
    width: 280px;
    height: 30px;
    padding: 0px 8px;
    margin-bottom: 24px;
    background-color: rgb(240, 240, 240); 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-container {
    margin: 0px;
    padding: 0px;
    width: 280px;
    display: flex;
}

.numbers, .operators {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.numbers {
    justify-content: flex-start;
}

.operators {
    justify-content: flex-end;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(171, 204, 212);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.operator, .button.equals {
    background-color: rgb(169, 190, 169);
}